argparse
base58
certifi
cryptography
datasets
idna
google-api-python-client
grpcio==1.32.0
grpcio-tools==1.32.0
loguru
msgpack==1.0.2
msgpack-numpy==0.4.7.1
miniupnpc
munch
netaddr
password_strength==0.0.3.post2
protobuf==3.13.0
py-sr25519-bindings==0.1.2
py-ed25519-bindings~=0.1.2
py-bip39-bindings>=0.1.6
pytest
pyyaml
rich
retry
requests
scalecodec
termcolor
torch
transformers
numpy
wheel
codecov
tqdm
qqdm
wandb
ansible_vault>=2.1
substrate-interface==1.0.2

zlib
six
websocket-client
readline
py
colorama
gitdb
configparser
pip
toml
openssl
tornado
rsa
pyasn1
pyzmq
pexpect
attrs
parso
jedi
addict
ipython
ipywidgets
qtpy
jupyter
pygments
commonmark
notebook
yaml
smmap
setuptools
pytz
cffi
click
shortuuid
yaspin
subprocess32
psutil
pandas
matplotlib
plotly
pillow
python-dateutil
urllib3
jsonschema
pathtools
promise
webencodings
packaging
bleach
cachetools
aiohttp
markupsafe
wcwidth
pluggy
iniconfig
ansible
jinja2
resolvelib
debugpy
traitlets
decorator
regex
ipykernel
testpath
backcall
pickleshare
ptyprocess
coverage
pyparsing
httplib2
nbformat
nbclient
nbconvert
send2trash
terminado
defusedxml
pandocfilters
mistune
python
entrypoints
pycparser
qtconsole
pyrsistent
uritemplate
msgpack-python
xxhash
bittensor